# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Machine Learning models
*.h5
*.onnx

# VS Code settings
.vscode/

#dataset
dataset/

# OS files
.DS_Store
Thumbs.db

# Ignore backend model folder (downloaded from Hugging Face)
backend/model/

# Ignore training files
model_training/

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Node modules
node_modules/

# Environment variables
.env