# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Machine Learning models
*.h5

# Keep the ONNX model
!backend/model/model.onnx

# Ignore only the DistilBERT model downloaded from Hugging Face
backend/model/distilbert/

# VS Code settings
.vscode/

# Dataset
dataset/

# Training files
model_training/

# Node modules
node_modules/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db