# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Machine Learning models
*.h5

# Keep the image ONNX model
!backend/model/model.onnx

# Ignore old DistilBERT model downloaded from Hugging Face
backend/model/distilbert/

# Ignore large text ONNX model for normal Git
backend/model/text_model/distilbert_onnx/model.onnx

# VS Code settings
.vscode/

# Dataset
dataset/

# Training files
model_training/

# Node modules
node_modules/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db